n8n-modules/v-omega-module-3-FINAL-2025.json
{
  "name": "V-OMEGA Module 3: Visual & 3D Generation Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "visual-3d-generation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-module-3",
      "name": "Visual 3D Generation Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "visual-3d-generation-v-omega"
    },
    {
      "parameters": {
        "url": "https://fal.ai/api/fal-ai/ideogram-v3-character-edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key {{ $vars.falaiApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "prompt": "Luxuriöser Kristall-Löwe mit Glas-Effekten, volumetrisches Licht, Ray-Tracing, ultra-realistisch, 3D-Rendering, Diamant-Textur, holographische Reflexionen, Premium-Lifestyle, Erfolg-Symbol, mobile-optimiert 9:16 Format",
          "image_url": "{{ $vars.lrLogoUrl }}",
          "aspect_ratio": "9:16",
          "model": "V_3_TURBO",
          "magic_prompt_option": "AUTO",
          "seed": "{{ Math.floor(Math.random() * 1000000) }}",
          "style_type": "PHOTOREALISTIC",
          "color_palette": {
            "name": "CUSTOM",
            "colors": ["#FFD700", "#C0C0C0", "#87CEEB", "#1a1a1a"]
          }
        }
      },
      "id": "falai-crystal-lion-generation",
      "name": "fal.ai Crystal Lion Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.leonardoApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "modelId": "7b592283-e8a7-4c5a-9ba6-d18c31f258b9",
          "prompt": "Traumauto ab 99€ - Luxus-Sportwagen mit Kristall-Glas-Lackierung, volumetrische Beleuchtung, Premium-Lifestyle, Erfolg-Symbol, Ray-Tracing-Reflexionen, ultra-realistisch, mobile-optimiert",
          "negative_prompt": "low quality, blurry, distorted, unrealistic, cartoon",
          "num_images": 1,
          "width": 1080,
          "height": 1920,
          "guidance_scale": 7,
          "num_inference_steps": 30,
          "seed": "{{ Math.floor(Math.random() * 1000000) }}",
          "presetStyle": "PHOTOREALISM",
          "scheduler": "LEONARDO",
          "public": false,
          "promptMagic": true,
          "promptMagicVersion": "v3",
          "promptMagicStrength": 0.5,
          "photoReal": true,
          "photoRealStrength": 0.8,
          "alchemy": true,
          "contrastRatio": 0.9
        }
      },
      "id": "leonardo-dream-car-generation",
      "name": "Leonardo Dream Car Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.remove.bg/v1.0/removebg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "{{ $vars.removebgApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-data",
        "body": {
          "image_url": "{{ $json.url }}",
          "size": "auto",
          "format": "png",
          "roi": "0% 0% 100% 100%",
          "crop": false,
          "scale": "original",
          "position": "center",
          "channels": "rgba",
          "add_shadow": false,
          "semitransparency": true,
          "bg_color": "transparent",
          "new_file_name": "lr-crystal-lion-transparent"
        }
      },
      "id": "removebg-crystal-processing",
      "name": "Remove.bg Crystal Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 480]
    },
    {
      "parameters": {
        "url": "https://fal.ai/api/fal-ai/stable-avatar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key {{ $vars.falaiApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "image_url": "{{ $node['Remove.bg Crystal Processing'].json.result_url }}",
          "motion_scale": 1.3,
          "motion_template": "A3",
          "num_inference_steps": 25,
          "guidance_scale": 3.5,
          "seed": "{{ Math.floor(Math.random() * 1000000) }}",
          "fps": 30,
          "motion_bucket_id": 180,
          "cond_aug": 0.02,
          "decoding_t": 14,
          "output_format": "mp4"
        }
      },
      "id": "falai-crystal-motion",
      "name": "fal.ai Crystal Motion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 480]
    },
    {
      "parameters": {
        "url": "https://fal.ai/api/fal-ai/omnihuman",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key {{ $vars.falaiApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "image_url": "{{ $node['Leonardo Dream Car Generation'].json.url }}",
          "prompt": "Erfolgreiche Person zeigt stolz auf Traumauto, Freude, Begeisterung, Erfolgs-Emotion, Premium-Lifestyle, mobile-optimiert",
          "motion_template": "happy_presentation",
          "num_inference_steps": 20,
          "guidance_scale": 7.5,
          "seed": "{{ Math.floor(Math.random() * 1000000) }}",
          "fps": 24,
          "duration": 3.0,
          "output_format": "mp4",
          "aspect_ratio": "9:16"
        }
      },
      "id": "falai-emotional-avatar",
      "name": "fal.ai Emotional Avatar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://api.bannerbear.com/v2/images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.bannerbearApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "template": "{{ $vars.bannerbearTemplateId }}",
          "modifications": [
            {
              "name": "crystal_lion",
              "image_url": "{{ $node['Remove.bg Crystal Processing'].json.result_url }}"
            },
            {
              "name": "dream_car",
              "image_url": "{{ $node['Leonardo Dream Car Generation'].json.url }}"
            },
            {
              "name": "watermark_text",
              "text": "LR Lifestyle - Roar-some Erfolg! 🦁"
            },
            {
              "name": "success_message",
              "text": "Traumwagen ab 99€ - Fahr in deine Freiheit!"
            }
          ],
          "webhook_url": "{{ $vars.webhookUrlModule4 }}",
          "metadata": {
            "lead_id": "{{ $json.leadData?.email || 'unknown' }}",
            "generation_type": "crystal_composite",
            "timestamp": "{{ new Date().toISOString() }}"
          }
        }
      },
      "id": "bannerbear-composite-creation",
      "name": "Bannerbear Composite Creation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $vars.telegramBotToken }}/sendPhoto",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "{{ $vars.telegramChatId }}",
          "photo": "{{ $node['Bannerbear Composite Creation'].json.image_url }}",
          "caption": "🦁 V-OMEGA Module 3 SUCCESS!\n\n✅ Visual & 3D Generation: COMPLETE\n🎨 Crystal Lion: Generated\n🚗 Dream Car: Created\n🎬 Motion Avatar: Animated\n🖼️ Composite: Assembled\n\n🚀 Triggering Module 4: Video Production\n\nTime: {{ new Date().toLocaleString('de-DE') }}",
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-module-3-preview",
      "name": "Module 3 Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "{{ $vars.webhookUrlModule4 }}",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "body": {
          "trigger": "module-3-success",
          "visualAssets": {
            "crystalLion": "{{ $node['fal.ai Crystal Lion Generation'].json.url }}",
            "crystalLionTransparent": "{{ $node['Remove.bg Crystal Processing'].json.result_url }}",
            "crystalMotion": "{{ $node['fal.ai Crystal Motion'].json.video.url }}",
            "dreamCar": "{{ $node['Leonardo Dream Car Generation'].json.url }}",
            "emotionalAvatar": "{{ $node['fal.ai Emotional Avatar'].json.video.url }}",
            "finalComposite": "{{ $node['Bannerbear Composite Creation'].json.image_url }}"
          },
          "leadData": "{{ $json.leadData }}",
          "timestamp": "{{ new Date().toISOString() }}",
          "moduleStatus": "completed"
        }
      },
      "id": "trigger-module-4",
      "name": "Trigger Module 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 480]
    }
  ],
  "connections": {
    "Visual 3D Generation Trigger": {
      "main": [
        [
          {
            "node": "fal.ai Crystal Lion Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fal.ai Crystal Lion Generation": {
      "main": [
        [
          {
            "node": "Leonardo Dream Car Generation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove.bg Crystal Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leonardo Dream Car Generation": {
      "main": [
        [
          {
            "node": "fal.ai Emotional Avatar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove.bg Crystal Processing": {
      "main": [
        [
          {
            "node": "fal.ai Crystal Motion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fal.ai Crystal Motion": {
      "main": [
        [
          {
            "node": "Bannerbear Composite Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fal.ai Emotional Avatar": {
      "main": [
        [
          {
            "node": "Bannerbear Composite Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bannerbear Composite Creation": {
      "main": [
        [
          {
            "node": "Module 3 Preview",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Module 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v-omega-3-final-2025",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "lr-social-media-system"
  },
  "id": "v-omega-module-3-final-2025",
  "tags": [
    {
      "createdAt": "2025-08-14T10:17:24.000Z",
      "updatedAt": "2025-08-14T10:17:24.000Z",
      "id": "lr-viral-system",
      "name": "LR Viral System"
    }
  ]
}
