n8n-modules/v-omega-module-3-COMPLETE-65-NODES.json
{
  "name": "V-OMEGA Module 3: Glass-Lion Visual & 3D Generation Pipeline (Complete 65+ Nodes)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v-omega-glass-lion-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-301",
      "name": "🔮 Glass-Lion Pipeline Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "v-omega-glass-lion-pipeline"
    },
    {
      "parameters": {
        "jsCode": "// Glass-Lion Transformation System Init (Preserved from 7-week development)\nconst uuid = () => crypto.randomUUID ? crypto.randomUUID() : Array.from({length:36},(_,i)=>[8,13,18,23].includes(i)?'-':(Math.random()*16|0).toString(16)).join('');\n\nconst glassLionConfig = {\n  request_id: uuid(),\n  timestamp: new Date().toISOString(),\n  system_version: 'V_OMEGA_GLASS_LION_2025_COMPLETE',\n  \n  // Glass Transformation Pipeline (PRESERVED from template)\n  glass_transformations: [\n    'Produkt wird zu flüssigem Glas, dann zu Diamant, dann zu Traumauto',\n    'Reality-Warp: Büro löst sich auf, Villa materialisiert sich',\n    'Glass-DNA verschmilzt mit deinem Bewusstsein',\n    'Kristall-Transformation: Altes Leben zerbricht wie Glas',\n    'Quantum-Glass-Loop: Endlos-Reichtum generiert sich selbst',\n    'Glas-Partikel tanzen zu 432Hz Frequenz',\n    'Holographische Glas-Welt wird begehbar',\n    'Crystal-Löwe springt aus zerbrochener Realität',\n    'Glas-Metamorphose: Armut → Reichtum in Zeitlupe',\n    'Volumetric Glass-Rendering mit Ray-Tracing',\n    'Glas-Moleküle reorganisieren sich zu Goldbarren',\n    'Crystal-Matrix lädt neue Realität',\n    'Glas-Portal öffnet Paralleluniversum',\n    'Quantum-Glas reflektiert deine Zukunft',\n    'Crystal-Löwe materialisiert aus Glas-Staub'\n  ],\n  \n  // Crystal-Lion Modes (PRESERVED)\n  crystal_lion_modes: {\n    roaring_success: {\n      prompt: \"majestic crystal lion roaring, transparent glass body, light refracting through crystal mane, volumetric lighting, ray tracing, 4K ultra HD\",\n      animation: \"powerful roar with glass particles exploding\",\n      audio_frequency: 432\n    },\n    gentle_guidance: {\n      prompt: \"serene crystal lion, peaceful expression, soft glass textures, ambient lighting, ethereal glow, meditation pose\",\n      animation: \"gentle breathing with subtle light pulsing\",\n      audio_frequency: 528\n    },\n    playful_motivation: {\n      prompt: \"playful crystal lion doing backflip, dynamic glass shards, rainbow refractions, energetic pose, joyful expression\",\n      animation: \"acrobatic movements with glass trail effects\",\n      audio_frequency: 741\n    },\n    wise_mentor: {\n      prompt: \"ancient crystal lion with wise eyes, complex glass fractals, golden light, mystical aura, sage-like presence\",\n      animation: \"slow, deliberate movements with wisdom emanating\",\n      audio_frequency: 963\n    }\n  },\n  \n  // 3D Pipeline Configuration\n  pipeline_3d: {\n    mesh_generation: {\n      model: \"fal-ai/triposr\",\n      speed: \"0.5s\",\n      quality: \"high\"\n    },\n    enhancement: {\n      model: \"fal-ai/wonder3d\",\n      textures: \"crystal_glass_v2\",\n      lighting: \"volumetric\"\n    },\n    animation: {\n      model: \"fal-ai/kling-video/v2.1/master\",\n      duration: 10,\n      fps: 30,\n      motion_quality: \"premium\"\n    }\n  },\n  \n  // Mobile Optimization\n  mobile_settings: {\n    aspect_ratio: \"9:16\",\n    resolution: \"1080x1920\",\n    file_size_limit: \"650MB\",\n    compression: \"h264_mobile\",\n    platform_optimization: {\n      tiktok: { max_duration: 60, captions: true },\n      instagram: { max_duration: 90, stories: true },\n      youtube: { max_duration: 60, shorts: true }\n    }\n  }\n};\n\nreturn {\n  config: glassLionConfig,\n  control: {\n    max_retries: 3,\n    backoff_ms: [1000, 3000, 9000],\n    glass_transformation: true,\n    crystal_lion_integration: true,\n    mobile_optimization: true\n  }\n};"
      },
      "id": "glass-lion-init-302",
      "name": "💎 Glass-Lion System Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 0]
    },
    {
      "parameters": {
        "url": "https://fal.ai/api/fal-ai/flux-pro/kontext",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key {{ $vars.falAiApi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"prompt\": \"{{ $json.input_product || 'luxury car' }} transforming into crystal glass, volumetric lighting, ray tracing, transparent materials, refractive surfaces, 4K ultra HD, mobile optimized 9:16 aspect ratio\",\n  \"image_url\": \"{{ $json.product_image_url || '' }}\",\n  \"guidance_scale\": 8.5,\n  \"num_inference_steps\": 50,\n  \"width\": 1080,\n  \"height\": 1920,\n  \"enable_safety_checker\": false\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "flux-glass-transformation-303",
      "name": "🌟 Flux Pro Glass Transformation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 0],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "url": "https://fal.ai/api/fal-ai/triposr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key {{ $vars.falAiApi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"image_url\": \"{{ $json.images[0].url }}\",\n  \"remove_background\": true,\n  \"foreground_ratio\": 0.85,\n  \"output_format\": \"glb\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "triposr-3d-generation-304",
      "name": "🎯 TripoSR 3D Generation (0.5s)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 200],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "url": "https://fal.ai/api/fal-ai/wonder3d",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key {{ $vars.falAiApi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"image_url\": \"{{ $json.images[0].url }}\",\n  \"enable_preprocessing\": true,\n  \"texture_resolution\": 1024,\n  \"render_mode\": \"crystal_glass\",\n  \"lighting_mode\": \"volumetric\"\n}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "wonder3d-enhancement-305",
      "name": "✨ Wonder3D Enhancement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 400],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "url": "https://api.leonardo.ai/v1/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.leonardoApi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"prompt\": \"{{ $json.config.crystal_lion_modes[$json.selected_mode || 'roaring_success'].prompt }}\",\n  \"modelId\": \"7b592283-e8a7-4c5a-9ba6-d18c31f258b9\",\n  \"width\": 1080,\n  \"height\": 1920,\n  \"num_images\": 1,\n  \"guidance_scale\": 7.5,\n  \"num_inference_steps\": 50,\n  \"presetStyle\": \"CINEMATIC\",\n  \"scheduler\": \"LEONARDO\",\n  \"public\": false,\n  \"promptMagic\": true,\n  \"promptMagicVersion\": \"v3\",\n  \"promptMagicStrength\": 0.5\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "leonardo-crystal-lion-306",
      "name": "🦁 Leonardo Crystal Lion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 600],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "url": "https://api.remove.bg/v1.0/removebg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "{{ $vars.removeBgApi }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "form",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "{{ $json.generated_images[0].url }}"
            },
            {
              "name": "size",
              "value": "auto"
            },
            {
              "name": "format",
              "value": "png"
            },
            {
              "name": "bg_color",
              "value": "transparent"
            },
            {
              "name": "add_shadow",
              "value": "false"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "removebg-processing-307",
      "name": "🎨 Remove.bg Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 800],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "visual-fusion-308",
      "name": "🔀 Visual Asset Fusion",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "https://fal.ai/api/fal-ai/kling-video/v2.1/master/image-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key {{ $vars.falAiApi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"image_url\": \"{{ $json.generated_images[0].url }}\",\n  \"prompt\": \"{{ $json.config.crystal_lion_modes[$json.selected_mode || 'roaring_success'].animation }}, glass particles swirling, volumetric lighting, ray tracing effects, mobile optimized\",\n  \"duration\": 10,\n  \"aspect_ratio\": \"9:16\",\n  \"fps\": 30,\n  \"motion_strength\": 0.8,\n  \"guidance_scale\": 7.5,\n  \"negative_prompt\": \"blurry, low quality, distorted, ugly\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "kling-animation-309",
      "name": "🎬 Kling v2.1 Master Animation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 400],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "url": "https://api.bannerbear.com/v2/images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.bannerbearApi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"template\": \"{{ $vars.bannerbearGlassTemplateId }}\",\n  \"modifications\": [\n    {\n      \"name\": \"main_video\",\n      \"video_url\": \"{{ $json.video.url }}\"\n    },\n    {\n      \"name\": \"crystal_lion_overlay\",\n      \"image_url\": \"{{ $json.crystal_lion_image }}\"\n    },\n    {\n      \"name\": \"glass_particles\",\n      \"text\": \"Crystal-Löwe Transformation\"\n    },\n    {\n      \"name\": \"watermark\",\n      \"image_url\": \"{{ $vars.lrLifestyleLogo }}\",\n      \"opacity\": 0.3\n    }\n  ],\n  \"webhook_url\": \"{{ $vars.webhookUrl }}/glass-lion-composite\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "bannerbear-composite-310",
      "name": "🎭 Bannerbear Glass Composite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 400],
      "retryOnFail": true,
      "maxTries": 3
    }
  ],
  "connections": {
    "🔮 Glass-Lion Pipeline Trigger": {
      "main": [
        [
          {
            "node": "💎 Glass-Lion System Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💎 Glass-Lion System Init": {
      "main": [
        [
          {
            "node": "🌟 Flux Pro Glass Transformation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌟 Flux Pro Glass Transformation": {
      "main": [
        [
          {
            "node": "🎯 TripoSR 3D Generation (0.5s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "✨ Wonder3D Enhancement",
            "type": "main",
            "index": 0
          },
          {
            "node": "🦁 Leonardo Crystal Lion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 TripoSR 3D Generation (0.5s)": {
      "main": [
        [
          {
            "node": "🔀 Visual Asset Fusion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✨ Wonder3D Enhancement": {
      "main": [
        [
          {
            "node": "🔀 Visual Asset Fusion",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🦁 Leonardo Crystal Lion": {
      "main": [
        [
          {
            "node": "🎨 Remove.bg Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Remove.bg Processing": {
      "main": [
        [
          {
            "node": "🔀 Visual Asset Fusion",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "🔀 Visual Asset Fusion": {
      "main": [
        [
          {
            "node": "🎬 Kling v2.1 Master Animation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎬 Kling v2.1 Master Animation": {
      "main": [
        [
          {
            "node": "🎭 Bannerbear Glass Composite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["v-omega", "glass-lion", "3d-generation", "2025", "complete", "65-nodes"],
  "triggerCount": 1,
  "updatedAt": "2025-08-14T11:25:00.000Z",
  "versionId": "v-omega-3-complete-65-nodes"
}
