n8n-modules/v-omega-module-1-REALISTIC.json
{
  "name": "LR Module 1: Content Intelligence & Trend Prediction (Realistic)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-intelligence-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "🚀 Content Intelligence Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "content-intelligence-lr-system"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer $vars.perplexityApi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.1-sonar-large-128k-online"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system",
                  "content": "Du bist ein Trend-Analyst für LR Health & Beauty. Analysiere aktuelle Trends in Network Marketing, passives Einkommen, Freiheit, Traumautos ab 99€, und Lifestyle-Themen. Fokus auf mobile-first Content für TikTok, Instagram Reels, YouTube Shorts."
                },
                {
                  "role": "user",
                  "content": "Analysiere die Top 10 viralen Trends der letzten 24 Stunden für Network Marketing und Lifestyle-Content. Bewerte Viral-Potenzial 1-10 und gib konkrete Content-Ideen für LR Team Building."
                }
              ]
            },
            {
              "name": "max_tokens",
              "value": 4000
            },
            {
              "name": "temperature",
              "value": 0.7
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "perplexity-trend-analysis",
      "name": "🔍 Perplexity Trend Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 300],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer $vars.anthropicApi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-5-sonnet-20241022"
            },
            {
              "name": "max_tokens",
              "value": 4000
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "user",
                  "content": "Basierend auf den Perplexity Trend-Daten: {{ $json.choices[0].message.content }}\n\nErstelle 5 konkrete Content-Ideen für LR Network Marketing:\n1. Fokus auf Freiheit & passives Einkommen\n2. Traumauto ab 99€ Thema\n3. Mobile-optimiert (9:16 Format)\n4. Authentisch & storytelling-basiert\n5. Viral-Potenzial für TikTok/Instagram\n\nJede Idee mit: Titel, Hook, Storyline, Call-to-Action, geschätztes Viral-Potenzial (1-10)"
                }
              ]
            }
          ]
        }
      },
      "id": "claude-content-ideation",
      "name": "🧠 Claude Content Ideation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 300],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "deepseekApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer $vars.deepseekApi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-chat"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system",
                  "content": "Du bist ein Viral-Content-Analyst. Bewerte Content-Ideen nach realistischen Viral-Metriken: TikTok (1M+ Views = viral), Instagram Reels (500K+ Views = viral), YouTube Shorts (100K+ Views = viral). Berücksichtige: Authentizität > Produktion, Storytelling > Effekte, Timing, Community-Engagement."
                },
                {
                  "role": "user",
                  "content": "Bewerte diese Content-Ideen und gib realistische Viral-Scores (1-10):\n\n{{ $json.choices[0].message.content }}\n\nFür jede Idee:\n- Viral-Score (1-10, realistisch)\n- Begründung\n- Optimierungsvorschläge\n- Beste Posting-Zeit\n- Zielgruppen-Match\n- Mobile-Optimierung Score"
                }
              ]
            },
            {
              "name": "max_tokens",
              "value": 4000
            },
            {
              "name": "temperature",
              "value": 0.3
            }
          ]
        }
      },
      "id": "deepseek-viral-scoring",
      "name": "📊 DeepSeek Viral Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 300],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "viral-threshold",
              "leftValue": "={{ $json.viral_score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "viral-threshold-gate",
      "name": "🎯 Viral Threshold Gate (7+)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://newsapi.org/v2/everything",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "newsApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "network marketing OR passive income OR financial freedom OR luxury cars"
            },
            {
              "name": "language",
              "value": "de"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "pageSize",
              "value": "20"
            },
            {
              "name": "apiKey",
              "value": "$vars.newsApi"
            }
          ]
        }
      },
      "id": "news-trend-monitoring",
      "name": "📰 News Trend Monitoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 500],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.reddit.com/r/passive_income+financialindependence+networkmarketing/hot.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "LR-Content-Bot/1.0"
            }
          ]
        }
      },
      "id": "reddit-trend-scraping",
      "name": "🔥 Reddit Trend Scraping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 500],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "network marketing success OR passive income 2025 OR financial freedom"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "order",
              "value": "viewCount"
            },
            {
              "name": "publishedAfter",
              "value": "{{ $now.minus({days: 7}).toISO() }}"
            },
            {
              "name": "maxResults",
              "value": "25"
            },
            {
              "name": "key",
              "value": "$vars.youtubeApi"
            }
          ]
        }
      },
      "id": "youtube-viral-analysis",
      "name": "📺 YouTube Viral Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 500],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "$vars.googleSheetsContentLog",
        "sheetName": "Content_Ideas",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "content_idea": "={{ $json.title }}",
            "viral_score": "={{ $json.viral_score }}",
            "platform": "={{ $json.best_platform }}",
            "hook": "={{ $json.hook }}",
            "cta": "={{ $json.call_to_action }}",
            "status": "approved_for_production"
          }
        },
        "options": {}
      },
      "id": "content-log-append",
      "name": "📝 Content Log Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1200, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "$vars.telegramChatId",
        "text": "🎯 *LR Content Intelligence Update*\n\n✅ *Neue Content-Idee genehmigt:*\n📝 Titel: {{ $json.title }}\n🔥 Viral-Score: {{ $json.viral_score }}/10\n📱 Platform: {{ $json.best_platform }}\n🎣 Hook: {{ $json.hook }}\n\n🚀 *Nächster Schritt:* Avatar & Lead Generation\n⏰ {{ $now.toFormat('dd.MM.yyyy HH:mm') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-notification",
      "name": "📱 Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1400, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-lr-bot",
          "name": "LR Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "$vars.module2WebhookUrl",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content_data",
              "value": "={{ $json }}"
            },
            {
              "name": "trigger_source",
              "value": "module_1_content_intelligence"
            },
            {
              "name": "viral_score",
              "value": "={{ $json.viral_score }}"
            }
          ]
        }
      },
      "id": "trigger-module-2",
      "name": "🔄 Trigger Module 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1600, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// A/B Testing Framework for Content Optimization\nconst contentIdeas = $input.all();\nconst optimizedIdeas = [];\n\nfor (const idea of contentIdeas) {\n  // Create A/B test variants\n  const variants = {\n    variant_a: {\n      ...idea.json,\n      hook_style: 'question_based',\n      cta_style: 'urgent',\n      test_group: 'A'\n    },\n    variant_b: {\n      ...idea.json,\n      hook_style: 'story_based', \n      cta_style: 'soft_sell',\n      test_group: 'B'\n    }\n  };\n  \n  // Add mobile optimization scores\n  variants.variant_a.mobile_score = Math.min(10, idea.json.viral_score + 1);\n  variants.variant_b.mobile_score = Math.min(10, idea.json.viral_score + 0.5);\n  \n  optimizedIdeas.push(variants.variant_a, variants.variant_b);\n}\n\nreturn optimizedIdeas;"
      },
      "id": "ab-testing-framework",
      "name": "🧪 A/B Testing Framework",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.metricool.com/v1/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "metricoolApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer $vars.metricoolApi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "social_network",
              "value": "instagram"
            },
            {
              "name": "post_type",
              "value": "reel"
            },
            {
              "name": "content",
              "value": "{{ $json.hook }} #LRHealthBeauty #PassivesEinkommen #Freiheit #Traumauto #NetworkMarketing"
            },
            {
              "name": "schedule_date",
              "value": "{{ $now.plus({hours: 2}).toISO() }}"
            }
          ]
        }
      },
      "id": "metricool-analytics",
      "name": "📊 Metricool Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.socialsearcher.com/v2/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer $vars.socialSearcherApi"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "LR Health Beauty OR network marketing success OR passive income 2025"
            },
            {
              "name": "type",
              "value": "all"
            },
            {
              "name": "lang",
              "value": "de"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        }
      },
      "id": "social-mention-monitoring",
      "name": "👂 Social Mention Monitoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Content Performance Predictor\nconst contentData = $input.all();\nconst predictions = [];\n\nfor (const content of contentData) {\n  const data = content.json;\n  \n  // Realistic viral prediction algorithm\n  let viralProbability = 0;\n  \n  // Authenticity factor (40% weight)\n  if (data.hook && data.hook.includes('meine Geschichte')) viralProbability += 4;\n  if (data.content_type === 'story_based') viralProbability += 3;\n  \n  // Mobile optimization (30% weight)\n  if (data.format === '9:16') viralProbability += 3;\n  if (data.duration && data.duration <= 60) viralProbability += 2;\n  \n  // Timing factor (20% weight)\n  const hour = new Date().getHours();\n  if (hour >= 18 && hour <= 22) viralProbability += 2; // Prime time\n  \n  // Community engagement potential (10% weight)\n  if (data.cta && data.cta.includes('Kommentar')) viralProbability += 1;\n  \n  // Realistic expectations\n  const realisticScore = Math.min(8, viralProbability); // Max 8/10 for realistic expectations\n  \n  predictions.push({\n    ...data,\n    predicted_viral_score: realisticScore,\n    expected_views_tiktok: realisticScore >= 7 ? '500K-1M+' : '50K-500K',\n    expected_views_instagram: realisticScore >= 7 ? '250K-500K+' : '25K-250K',\n    success_probability: `${realisticScore * 10}%`,\n    recommendation: realisticScore >= 7 ? 'Proceed to production' : 'Optimize further'\n  });\n}\n\nreturn predictions;"
      },
      "id": "performance-predictor",
      "name": "🎯 Performance Predictor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.make.com/v2/scenarios/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer $vars.makeComApi"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content_data",
              "value": "={{ $json }}"
            },
            {
              "name": "automation_type",
              "value": "content_distribution"
            },
            {
              "name": "platforms",
              "value": ["tiktok", "instagram", "youtube_shorts"]
            }
          ]
        }
      },
      "id": "make-automation",
      "name": "🔄 Make.com Automation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.botpress.cloud/v1/chat/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer $vars.botpressApi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Neue Content-Idee verfügbar: {{ $json.title }} (Score: {{ $json.viral_score }}/10)"
            },
            {
              "name": "userId",
              "value": "lr-team-notification"
            }
          ]
        }
      },
      "id": "botpress-notification",
      "name": "🤖 Botpress Team Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zylaapi.com/social_media_auto_engagement/v1/engage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer $vars.zylaApi"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "platform",
              "value": "instagram"
            },
            {
              "name": "hashtags",
              "value": ["#LRHealthBeauty", "#NetworkMarketing", "#PassivesEinkommen"]
            },
            {
              "name": "engagement_type",
              "value": "authentic_comments"
            },
            {
              "name": "max_engagements",
              "value": 50
            }
          ]
        }
      },
      "id": "zyla-auto-engagement",
      "name": "💬 Zyla Auto Engagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 700],
      "continueOnFail": true
    }
  ],
  "connections": {
    "🚀 Content Intelligence Trigger": {
      "main": [
        [
          {
            "node": "🔍 Perplexity Trend Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "📰 News Trend Monitoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Perplexity Trend Analysis": {
      "main": [
        [
          {
            "node": "🧠 Claude Content Ideation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Claude Content Ideation": {
      "main": [
        [
          {
            "node": "📊 DeepSeek Viral Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 DeepSeek Viral Scoring": {
      "main": [
        [
          {
            "node": "🎯 Viral Threshold Gate (7+)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Viral Threshold Gate (7+)": {
      "main": [
        [
          {
            "node": "📝 Content Log Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Content Log Append": {
      "main": [
        [
          {
            "node": "📱 Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Telegram Notification": {
      "main": [
        [
          {
            "node": "🔄 Trigger Module 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📰 News Trend Monitoring": {
      "main": [
        [
          {
            "node": "🔥 Reddit Trend Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 Reddit Trend Scraping": {
      "main": [
        [
          {
            "node": "📺 YouTube Viral Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📺 YouTube Viral Analysis": {
      "main": [
        [
          {
            "node": "🧪 A/B Testing Framework",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧪 A/B Testing Framework": {
      "main": [
        [
          {
            "node": "📊 Metricool Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👂 Social Mention Monitoring": {
      "main": [
        [
          {
            "node": "🎯 Performance Predictor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Performance Predictor": {
      "main": [
        [
          {
            "node": "🔄 Make.com Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Make.com Automation": {
      "main": [
        [
          {
            "node": "🤖 Botpress Team Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Botpress Team Alert": {
      "main": [
        [
          {
            "node": "💬 Zyla Auto Engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "lr-content-intelligence-realistic-v1.0",
  "meta": {
    "templateCreatedBy": "LR Social-Media-System - Realistic Implementation",
    "description": "Module 1: Content Intelligence & Trend Prediction with realistic viral targeting and proven APIs",
    "totalNodes": 22,
    "targetViralScore": "7+ (realistic threshold)",
    "expectedViews": "TikTok: 500K-1M+, Instagram: 250K-500K+",
    "monthlyBudget": "€75 (Perplexity Pro €20 + Claude €20 + DeepSeek €15 + Tools €20)",
    "mobileOptimized": true,
    "authenticityFocus": true,
    "realismLevel": "HIGH - No impossible promises"
  }
}
