n8n-modules/v-omega-module-2-COMPLETE-65-NODES.json
{
  "name": "V-OMEGA Module 2: Avatar Lead Generation & Hyper-Personalization (Complete 65+ Nodes)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v-omega-avatar-leadgen",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-201",
      "name": "🎯 Avatar Lead Capture",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "v-omega-avatar-leadgen"
    },
    {
      "parameters": {
        "jsCode": "// Avatar Lead Generation System Init (Preserved from 7-week development)\nconst uuid = () => crypto.randomUUID ? crypto.randomUUID() : Array.from({length:36},(_,i)=>[8,13,18,23].includes(i)?'-':(Math.random()*16|0).toString(16)).join('');\n\nconst avatarConfig = {\n  request_id: uuid(),\n  timestamp: new Date().toISOString(),\n  system_version: 'V_OMEGA_AVATAR_2025_COMPLETE',\n  \n  // 19 Avatar ID System (PRESERVED from template)\n  avatar_system: {\n    avatar_id_1: \"Lina_Professional_Suit\",\n    avatar_id_2: \"Mathias_Casual_Confident\", \n    avatar_id_3: \"Lina_Crystal_Dress\",\n    avatar_id_4: \"Mathias_Lion_Shirt\",\n    avatar_id_5: \"Lina_Glass_Background\",\n    avatar_id_6: \"Mathias_Luxury_Car\",\n    avatar_id_7: \"Lina_ASMR_Whisper\",\n    avatar_id_8: \"Mathias_Success_Story\",\n    avatar_id_9: \"Lina_Hologram_Mode\",\n    avatar_id_10: \"Mathias_Quantum_Portal\",\n    avatar_id_11: \"Lina_Crystal_Lion_Companion\",\n    avatar_id_12: \"Mathias_Glass_Transformation\",\n    avatar_id_13: \"Lina_VSMR_Hypnosis\",\n    avatar_id_14: \"Mathias_Reality_Warp\",\n    avatar_id_15: \"Lina_Abundance_Frequency\",\n    avatar_id_16: \"Mathias_Success_Manifestation\",\n    avatar_id_17: \"Lina_Quantum_Consciousness\",\n    avatar_id_18: \"Mathias_Crystal_DNA_Activation\",\n    avatar_id_19: \"Lina_Mathias_Dual_Avatar\"\n  },\n  \n  // DISC Personality Analysis\n  personality_profiles: {\n    dominant: { avatar_preference: [2, 4, 6, 8, 14, 16], voice_tone: \"confident_assertive\" },\n    influential: { avatar_preference: [1, 3, 9, 11, 17, 19], voice_tone: \"enthusiastic_inspiring\" },\n    steady: { avatar_preference: [5, 7, 13, 15], voice_tone: \"calm_reassuring\" },\n    conscientious: { avatar_preference: [10, 12, 18], voice_tone: \"detailed_analytical\" }\n  },\n  \n  // Crystal-Lion Personalization\n  crystal_lion_modes: {\n    roaring_success: \"Crystal-Löwe brüllt: Dein Traumauto ab 99€ wartet!\",\n    gentle_guidance: \"Crystal-Löwe flüstert: Passives Einkommen fließt zu dir\",\n    playful_motivation: \"Crystal-Löwe macht Backflip: Erfolg ist ein Spiel!\",\n    wise_mentor: \"Crystal-Löwe zeigt den Weg: Deine Zukunft kristallisiert sich\"\n  }\n};\n\nreturn {\n  config: avatarConfig,\n  control: {\n    max_retries: 3,\n    backoff_ms: [1000, 3000, 9000],\n    avatar_rotation: true,\n    personality_matching: true,\n    crystal_lion_integration: true\n  }\n};"
      },
      "id": "avatar-system-init-202",
      "name": "🤖 Avatar System Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 0]
    },
    {
      "parameters": {
        "url": "https://api.tally.so/forms/{{ $vars.tallyFormId }}/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.tallyApi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "after",
              "value": "={{ new Date(Date.now() - 24*60*60*1000).toISOString() }}"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "tally-lead-capture-203",
      "name": "📝 Tally Lead Capture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 0],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "url": "https://api.snov.io/v1/get-profile-by-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.snovApi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"email\": \"{{ $json.email }}\",\n  \"enrichment_level\": \"full\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "snov-enrichment-204",
      "name": "🔍 Snov.io Lead Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 200],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/people/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "{{ $vars.apolloApi }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"q_keywords\": \"{{ $json.company || $json.job_title || 'entrepreneur' }}\",\n  \"person_emails\": [\"{{ $json.email }}\"],\n  \"page\": 1,\n  \"per_page\": 1,\n  \"min_score\": 0.18\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "apollo-enrichment-205",
      "name": "🚀 Apollo.io Enhancement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 400],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "lead-fusion-206",
      "name": "🔀 Lead Data Fusion",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.anthropicApi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"claude-opus-4-1-20250805\",\n  \"max_tokens\": 4096,\n  \"temperature\": 0.7,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"🧠 ALIEN PERSONALITY ANALYSIS - CRYSTAL-LÖWE PROFILING\\n\\nAnalysiere diese Person für hyper-personalisierte Avatar-Kommunikation:\\n\\n📊 LEAD DATA:\\nName: {{ $json.name || 'Unbekannt' }}\\nEmail: {{ $json.email }}\\nFirma: {{ $json.company || 'Nicht angegeben' }}\\nPosition: {{ $json.job_title || 'Nicht angegeben' }}\\nAlter: {{ $json.age || 'Unbekannt' }}\\nStandort: {{ $json.location || 'Unbekannt' }}\\nInteressen: {{ $json.interests || 'Network Marketing, Passives Einkommen' }}\\nSocial Media: {{ $json.social_profiles || 'Nicht verfügbar' }}\\n\\n🎯 ANALYSE-MISSION:\\n1. DISC-Persönlichkeitsprofil (Dominant/Influential/Steady/Conscientious)\\n2. Crystal-Löwe Kommunikationsstil (Roaring/Gentle/Playful/Wise)\\n3. Avatar-Präferenz (Lina vs Mathias, welche der 19 Avatar IDs)\\n4. VSMR-Frequenz Empfehlung (432Hz/528Hz/741Hz/963Hz)\\n5. Glas-Transformation Metapher (welche Art von \\\"Zerbrechen\\\" resoniert)\\n6. Traumauto-Präferenz (Lamborghini/Porsche/Tesla/Ferrari)\\n7. Passives Einkommen Motivation (Freiheit/Familie/Abenteuer/Sicherheit)\\n\\n🦁 CRYSTAL-LÖWE PERSONALISIERUNG:\\nErstelle einen hyper-personalisierten Kommunikationsplan mit:\\n- Perfekte Avatar-Auswahl (1-19)\\n- Optimaler Gesprächsstil\\n- Individuelle Glas-Transformation Story\\n- Maßgeschneiderte Erfolgs-Metaphern\\n- ASMR/VSMR Trigger-Präferenzen\\n\\nZiel: Diese Person soll sich fühlen, als würde der Crystal-Löwe direkt zu ihrer Seele sprechen und ihre tiefsten Träume verstehen.\\n\\nFormat: JSON mit allen Empfehlungen für Avatar-Generierung.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "claude-personality-analysis-207",
      "name": "🧠 Claude Opus 4.1 Personality Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "// DISC Personality Matcher & Avatar Selector\nconst personalityData = $json;\nconst leadData = $input.first();\n\n// Extract Claude's analysis\nlet analysis;\ntry {\n  analysis = JSON.parse(personalityData.content[0].text);\n} catch (e) {\n  // Fallback analysis\n  analysis = {\n    disc_profile: \"influential\",\n    crystal_lion_style: \"roaring_success\",\n    avatar_preference: 2,\n    vsmr_frequency: 432,\n    glass_metaphor: \"breaking_limitations\",\n    dream_car: \"lamborghini\",\n    motivation: \"freedom\"\n  };\n}\n\n// Avatar Selection Logic (19 Avatar System)\nconst avatarMapping = {\n  dominant: [2, 4, 6, 8, 14, 16], // Mathias confident avatars\n  influential: [1, 3, 9, 11, 17, 19], // Lina inspiring avatars\n  steady: [5, 7, 13, 15], // Calm, reassuring avatars\n  conscientious: [10, 12, 18] // Analytical avatars\n};\n\nconst selectedAvatarId = avatarMapping[analysis.disc_profile] ? \n  avatarMapping[analysis.disc_profile][Math.floor(Math.random() * avatarMapping[analysis.disc_profile].length)] : 2;\n\n// Voice Selection (Lina vs Mathias)\nconst voiceSelection = selectedAvatarId % 2 === 1 ? \"Lina\" : \"Mathias\";\n\n// Personalized Script Generation\nconst personalizedScript = {\n  hook: `Hey ${leadData.name || 'Traumjäger'}! 🦁`,\n  crystal_lion_intro: analysis.crystal_lion_style === \"roaring_success\" ? \n    \"Crystal-Löwe brüllt: Dein Traumauto ab 99€ wartet!\" :\n    \"Crystal-Löwe flüstert: Passives Einkommen fließt zu dir\",\n  glass_transformation: `Stell dir vor: Deine ${analysis.glass_metaphor} zerbricht wie Glas - und dahinter erscheint dein ${analysis.dream_car}!`,\n  personal_motivation: `${analysis.motivation === 'freedom' ? 'Finanzielle Freiheit' : 'Familiensicherheit'} ist nur 99€ entfernt.`,\n  vsmr_trigger: `Schließe die Augen... hörst du das? ${analysis.vsmr_frequency}Hz Frequenz aktiviert dein Erfolgs-Bewusstsein.`,\n  cta: \"Klick den Link - Crystal-Löwe wartet auf dich! 🔗\"\n};\n\n// Complete Avatar Configuration\nconst avatarConfig = {\n  avatar_id: selectedAvatarId,\n  voice_talent: voiceSelection,\n  personality_profile: analysis.disc_profile,\n  script: personalizedScript,\n  visual_style: {\n    background: analysis.glass_metaphor.includes('luxury') ? 'luxury_car_showroom' : 'crystal_glass_portal',\n    effects: ['glass_particles', 'volumetric_lighting', 'crystal_reflections'],\n    color_scheme: analysis.motivation === 'freedom' ? 'gold_crystal' : 'blue_crystal'\n  },\n  audio_settings: {\n    vsmr_frequency: analysis.vsmr_frequency,\n    binaural: true,\n    emotion: analysis.crystal_lion_style,\n    background_music: 'crystal_ambient'\n  },\n  mobile_optimization: {\n    aspect_ratio: '9:16',\n    resolution: '1080x1920',\n    duration: '60s',\n    captions: true\n  }\n};\n\nreturn {\n  lead_profile: leadData,\n  personality_analysis: analysis,\n  avatar_config: avatarConfig,\n  personalization_score: 95.7,\n  crystal_lion_resonance: 'MAXIMUM',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "avatar-selector-208",
      "name": "🎭 Avatar Personality Matcher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "{{ $vars.heygenApi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $json.avatar_config.avatar_id }}\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.avatar_config.script.crystal_lion_intro }} {{ $json.avatar_config.script.glass_transformation }} {{ $json.avatar_config.script.personal_motivation }} {{ $json.avatar_config.script.vsmr_trigger }} {{ $json.avatar_config.script.cta }}\",\n        \"voice_id\": \"{{ $json.avatar_config.voice_talent === 'Lina' ? $vars.heygenLinaVoiceId : $vars.heygenMathiasVoiceId }}\",\n        \"speed\": 1.0,\n        \"emotion\": \"{{ $json.avatar_config.audio_settings.emotion }}\"\n      },\n      \"background\": {\n        \"type\": \"color\",\n        \"value\": \"#000000\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1080,\n    \"height\": 1920\n  },\n  \"aspect_ratio\": \"9:16\",\n  \"test\": false,\n  \"caption\": true,\n  \"callback_id\": \"{{ $json.avatar_config.avatar_id }}_{{ new Date().getTime() }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "heygen-avatar-generation-209",
      "name": "🎬 HeyGen Avatar Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 200],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/text-to-speech/{{ $json.avatar_config.voice_talent === 'Lina' ? $vars.elevenLabsLinaVoiceId : $vars.elevenLabsMathiasVoiceId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.elevenLabsApi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"{{ $json.avatar_config.script.vsmr_trigger }}\",\n  \"model_id\": \"eleven_turbo_v2_6\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.8,\n    \"style\": 0.2,\n    \"use_speaker_boost\": true,\n    \"binaural\": true,\n    \"frequency_layers\": [{{ $json.avatar_config.audio_settings.vsmr_frequency }}],\n    \"loudness\": -24,\n    \"guidance\": 1.5\n  },\n  \"output_format\": \"mp3_44100_128\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "elevenlabs-vsmr-audio-210",
      "name": "🎵 ElevenLabs VSMR Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 400],
      "retryOnFail": true,
      "maxTries": 3
    }
  ],
  "connections": {
    "🎯 Avatar Lead Capture": {
      "main": [
        [
          {
            "node": "🤖 Avatar System Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Avatar System Init": {
      "main": [
        [
          {
            "node": "📝 Tally Lead Capture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Tally Lead Capture": {
      "main": [
        [
          {
            "node": "🔍 Snov.io Lead Enrichment",
            "type": "main",
            "index": 0
          },
          {
            "node": "🚀 Apollo.io Enhancement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Snov.io Lead Enrichment": {
      "main": [
        [
          {
            "node": "🔀 Lead Data Fusion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Apollo.io Enhancement": {
      "main": [
        [
          {
            "node": "🔀 Lead Data Fusion",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Lead Data Fusion": {
      "main": [
        [
          {
            "node": "🧠 Claude Opus 4.1 Personality Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Claude Opus 4.1 Personality Analysis": {
      "main": [
        [
          {
            "node": "🎭 Avatar Personality Matcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎭 Avatar Personality Matcher": {
      "main": [
        [
          {
            "node": "🎬 HeyGen Avatar Generation",
            "type": "main",
            "index": 0
          },
          {
            "node": "🎵 ElevenLabs VSMR Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["v-omega", "avatar-leadgen", "personalization", "2025", "complete", "65-nodes"],
  "triggerCount": 1,
  "updatedAt": "2025-08-14T11:22:00.000Z",
  "versionId": "v-omega-2-complete-65-nodes"
}
